
html {
  font-family: sans-serif;
}

body {
    background: linear-gradient(steelblue , rgb(240, 234, 202), rgb(243, 187, 177));
}

/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');



#digital-clock {
 /* background-color: lightblue; */
 /* width: 65%; */

 text-align: center;
 background: linear-gradient(rgb(176, 216, 171) , lightyellow, steelblue);
 /* padding: 20px; */
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 24px;
 text-align: center;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 35px;
 text-shadow: lightslategray 1px 1px;
}

#top{
  /* width: 65%; */
  background: linear-gradient(rgb(139, 221, 203) , lightyellow, steelblue);
  text-shadow: lightslategray 1px 1px;
 
  /* padding: 20px; */
  font-family: lobster;
  /* font-size: 94px; */
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 35px;
}
.heading{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: lobster;
  background: linear-gradient(rgb(138, 223, 170) , lightyellow, steelblue);
  border-radius: 65px;
  text-shadow: lightslategray 1px 1px;
}
.mar{
  margin-top:115px;
  margin-bottom:65px
}

#dem{
  text-shadow: lightslategray 1px 1px;
}

h1, p {
  text-shadow: lightslategray 1px 1px;
}